@model ProyecSis3.Models.Persona

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatCorreoIdCatCorreoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatCorreoIdCatCorreoNavigation.IdCatCorreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatDireccionIdCatDireccionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatDireccionIdCatDireccionNavigation.IdCatDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatTelefonoIdCatTelefonoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatTelefonoIdCatTelefonoNavigation.IdCatTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioIdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioIdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPersona">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
